body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.navbar-links li {
  margin-left: 1rem;
}

.navbar-links img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.hero-container {
  padding: 2rem;
}

.new-locker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#lockerList .locker-box {
  border: 2px solid #007bff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: flex-start; /* Align items to the start */
}

#lockerList .locker-box h4 {
  margin: 0 0 0.5rem 0; /* Add bottom margin */
}

#lockerList .locker-box p {
  margin: 0 0 0.5rem 0; /* Add bottom margin */
}

.openBtn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  cursor: pointer;
}
