.page12typeofconn {
  font-size: 1.95rem;
  font-weight: bolder;
  margin-left: 3rem;
}

.page12hostlocker {
  font-size: 1.25rem;
  width: 20rem;
  height: 4rem;
  border: 2px solid rgb(107, 120, 231);

  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 24rem;
}

.page12parentpara {
  display: flex;
  align-items: top;
}
.page12parentconnections {
  display: flex;
  align-items: top;
}
.page12hostlocker div {
  margin: 1rem;
}
.page12paragraph {
  margin-top: 7rem;
  margin-left: 3rem;
  font-size: 1.25rem;
  /* padding: 2rem; */

  width: 50rem;
  height: 10rem;
}
.page12paragraph button {
  margin-left: 45rem;
}

.next-btn {
  background-color: #007bff;
  color: #fff;
  width: 5rem;
  border: none;
  padding: 1rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bolder;
  /* padding: 0.5rem 0.25rem;  */
  /* max-width: rem; */
}
