<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sharingpage(page2).css' %}" />
  </head>
  <body>
    <div class="navbar">
      <span class="nav-item" id="nav1">My Education Documents</span>
      <span class="nav-item" id="nav2">
        <a href="page1.html" class="nav-item" id="nav2-1">Home</a>
        <img
          class="nav-img"
          id="nav2-2"
          src="{% static 'images/user_icon.png' %} "
          alt=""
        />
      </span>

      <a href="page3.html" class="nav-item" id="nav3">DPI Directory </a>
    </div>
    <!-- <div class="underline"></div> -->
    <div class="container">
      <div class="locker-name">
        <!-- <br><br>
            <br><br>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;

            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
              -->
        Owner: Rohith
        <br /><br />
        &lt;Description&gt;
        <br />
        <br />
      </div>
      <div class="container-2 clearfix">
        <div class="a">
          Resources
          <br /><br /><br />
          <span id="documents">Transcripts.pdf</span>
          <span class="public-private">
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Public/private</span
          >
          <br /><br />
          <span id="documents">10thMarks-card.pdf</span>

          <span class="public-private">Public/private</span>
          <br /><br />
          <br /><br />
          <span id="button"> Share </span>
          &nbsp;&nbsp;&nbsp;
          <span id="button"> upload resource </span>
        </div>
        <div class="b">
          Connections:&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="connectionss" >
            IIITB &lt;&gt;Rohith
            <p class="underlined-text">
              Created On: <span class="underline"></span><br />
              Valid Until: <span class="underline"></span> <br />
              Connecting Locker: <a href="page4.html" class="iiitb">IIITB</a>
            </p>
          </div>
          <p class="mantri">Mantri Builder Property</p>
        </div>
      </div>
    </div>
  </body>
</html>
