<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../static/css/sharingpage.css" />
    {% comment %} {% static 'css/sharingpage.css' %} {% endcomment %}
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand"></div>
      <ul class="navbar-links">
        <li><a href="../Page3/page3.html">DPI Directory</a></li>
        <!-- <li><a href="#">Show Connections</a></li> -->
        <li> <img src="../Resources/user_icon.png" alt="User Icon"> </li>
      </ul>
      
  </nav>

    <!-- <div class="underline"></div> -->
    <div class="container">
      <div class="locker-name">
        <!-- <br><br>
            <br><br>
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;

            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp;
              -->
       <div class="loc">Locker Education</div> 

       <div class="loc">Owner: Rohith</div> 
        
        <div class="loc">This locker consists of my Education documents</div>  
        
      </div>
      <div class="container-2 clearfix">
        <div class="a">
         <div class="res">Resources</div> 
          <div class="container-3 clearfix">
          <div class="aa">
          <div id="documents">Transcripts.pdf</div>
          <div id="documents">10thMarks-card.pdf</div>

          </div>
          
           <div class="bb">
            <div class="public-private"> Public/private</div>
              <div class="public-private">Public/private</div>
           
           </div></div>
         
          
          <button class="button" > Share </button>
          &nbsp;&nbsp;&nbsp;
          <button class="button"> upload resource </button>
        </div>
        <div class="b">
       <h3 id="mycon">My  Connections:</h3>
          <div class="conn">
            <div   id="conntent">Btech Admission</div>
            <div  id="conntent">IIITb Transcripts&lt;&gt;Rohith:Education</div>
            

            <div  id="conntent">Created On:</div>
          
            <div  id="conntent">Vald Until:</div>
              
          </div>

          <div class="conn">
            <div  id="conntent">Real Estate</div>
            <div  id="conntent">Mantri Builder Property&lt;&gt;Rohith:Education</div>
            
            <div  id="conntent">Created On:</div>
            <div id="conntent">Vald Until:</div>
              
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
