body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.moderator-page {
    padding: 20px;
}

/* .header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgb(226, 226, 226);
    border-left: 2px solid rgb(226, 226, 226);
    border-radius: 1rem;
    margin-bottom: 150px;
} */

/* .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page-title {
    margin: 0;
} */

/* .nav-links {
    display: flex;
    align-items: center;
    gap: 130px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    font-size: x-large;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #0056b3;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-info p {
    margin: 0;
    text-align: center;
    font-family: cursive;
    font-size: medium;
} */

/* #name {
    font-weight: bold;
} */

.manage-connection-content {
    padding: 20px;
    margin-left: 380px; 
    width: calc(100% - 350px);
    /*font-weight: bold;*/
    font-size: large;

}
.add-connection-type-container {
    margin-top: 20px;
    display: flex;
    justify-content:right-bottom;  
  }

  .connection-link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .connection-link:hover {
    color: #0056b3;
  }
  
  
  .add-connection-type-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
  }
  
  .add-connection-type-button:hover {
    background-color: #0056b3;
  }
  

/* .freeze-section {
    display: flex;
    justify-content: center;
    padding: 60px;
    margin-left: 300px;
    margin-top: 100px;
}

.freeze-locker,
.freeze-connection {
    border: 2px solid #62aeff;
    padding: 50px;
    border-radius: 5px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-weight: bold;
    font-size: x-large;
}

.freeze-locker input,
.freeze-connection input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px solid #007bff;
    font-size: large;
}

.freeze-locker button,
.freeze-connection button {
    width: 32%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

.freeze-locker button:hover,
.freeze-connection button:hover {
    background-color: #0056b3;
} */

