.settings-page {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.settings-page h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.profile-info {
    margin-bottom: 15px;
}

.profile-info label {
    font-size: 1.2rem;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.profile-info p {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    
}

.profile-info input {
    width: 80%;
    padding: 8px;
    font-size: 1.2rem;
    border: 2px solid rgb(107, 120, 231);
    border-radius: 4px;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
}

.profile-actions button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-actions button:first-child {
    background-color: #007bff;
    color: white;
}

.profile-actions button:last-child {
    background-color: #007bff;
    color: white;
}
