<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View-connection</title>
    <link rel="stylesheet" href="../static/css/view(page5).css">
</head>
<body>

    <div class="navbar">
        <span  class="nav-item" id="nav1">IIITB &lt &gt  Rohith: &ltDescription&gt</span>
      <span  class="nav-item" id="nav2">
        <a href="page1.html" class="nav-item" id="nav2-1">Home</a>
            <img class="nav-img" id="nav2-2" src="../static/images/user_icon.png" alt="">
</span>
        
        <a href="#" class="nav-item" id="nav3">Connection Norms
            
        </a>
    </div>
    <!-- <p class="underline"></p> -->
    <p class="locker">
        Locker 1 : IIITB <br>
        Locker 2 : Rohith
    </p>
    <!-- <br> -->
    <div class="container clearfix">
        <p class="out-text">Access Norms</p>
        <div class="parent1">
           <p class="inner-text">Owner 1 (Rohith)</p>

           <p class="table-heading">
            <span class="headings">Action</span>
            <span class="headings">Event</span>
            <span class="headings">Condition</span>
            <span class="headings">Modality</span>

          </p>

          <p class="table-heading second">
            <span class="headings second">Download</span>
            <span class="headings second">On_enter_conn</span>
            <span class="headings second">Consent=True</span>
            <span class="headings second">P</span>

          </p>
          <p class="table-heading third">
            <span class="headings third">Edit</span>
            <span class="headings third">On_enter_conn</span>
            <span class="headings third">Consent=True</span>
            <span class="headings third">P</span>

          </p>
          <p class="button">
            I agree
          </p>
              
        </div>
        <div class="parent2">
          <p class="inner-text">Owner 2 (IIITB)</p>
          <!-- <p class="imp-text">Norms</p> -->
          <p class="table-heading">
            <span class="headings">Action</span>
            <span class="headings">Event</span>
            <span class="headings">Condition</span>
            <span class="headings">Modality</span>

          </p>

          <p class="table-heading second">
            <span class="headings second">Download</span>
            <span class="headings second">On_enter_conn</span>
            <span class="headings second">Consent=True</span>
            <span class="headings second">P</span>

          </p>
          <p class="table-heading third">
            <span class="headings third">Edit</span>
            <span class="headings third">On_enter_conn</span>
            <span class="headings third">Consent=True</span>
            <span class="headings third">P</span>

          </p>

          <p class="button">
            I agree
          </p>


          <!-- <p class="button">Download</p>
           <p class="button">View</p>
           <p class="button">Share</p>
           <p class="button">Edit</p> -->


        </div>
    </div>
    
</body>
</html>